{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    <title>Питание хорьков</title>
{% endblock %}
{% block content %}


    <div class="jumbotron text-center bg-white">
        <h1 class="display-4">Питание хорьков</h1>
        <p class="lead">Узнайте, как правильно кормить хорьков, чтобы они были здоровыми, счастливыми и активными.</p>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Основы правильного питания</h2>
                <p>Правильное питание хорьков является важным фактором для их здоровья и хорошего самочувствия. Хорьки - хищники, и их рацион должен включать достаточное количество белка и жиров. На изображении ниже представлена информация о различных видах кормов, которые подходят хорькам, а также рекомендации по их питанию.</p>
                <div class="text-center">
                    <img src="{% static 'main/img/img_6.png' %}" alt="Руководство по питанию хорьков" class="img-fluid mt-4">
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h3>Белки и жиры</h3>
                <p>Хорьки нуждаются в высокобелковой пище, поскольку они являются хищниками. Их рацион должен включать мясо, такое как курица, индейка или говядина. Также важно включать в их рацион жиры, которые обеспечат их энергией и поддержат здоровье кожи и шерсти.</p>
            </div>
            <div class="col-md-6">
                <h3>Корма и добавки</h3>
                <p>Существуют специализированные корма для хорьков, которые содержат все необходимые питательные вещества. Важно выбирать корма, которые содержат не менее 30-40% белка и около 20% жиров. Также можно добавлять витамины и минеральные добавки для поддержания здоровья хорьков.</p>
            </div>
        </div>
    </div>




{% endblock %}