{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    <title>Окрасы и узоры шерсти хорьков</title>
{% endblock %}
{% block content %}


    <div class="jumbotron text-center bg-white">
        <h1 class="display-4">Окрасы и узоры шерсти хорьков</h1>
        <p class="lead">Познакомьтесь с разнообразными окрасами и уникальными узорами, которые делают каждого хорька особенным и неповторимым.</p>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Варианты окраса и узоры</h2>
                <p>Хорьки могут иметь широкий спектр окрасов, от альбино до насыщенного черного, и множество уникальных узоров на своей шерсти. На изображении ниже представлены самые распространенные варианты окрасов и узоров хорьков, такие как альбино, коричный, шоколадный, черный, а также такие узоры, как "митт", "панда" и другие. Эти узоры и окрасы делают каждого хорька уникальным и добавляют индивидуальности.</p>
                <div class="text-center">
                    <img src="{% static 'main/img/img_5.png' %}" alt="Окрасы и узоры шерсти хорьков" class="img-fluid mt-4">
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h3>Альбино и другие светлые окрасы</h3>
                <p>Альбино - это хорьки с белоснежной шерстью и красными глазами. Они очень заметны и выглядят весьма экзотично. Кроме того, существуют такие окрасы, как "темный серебристый" и "светлый серебристый", которые также являются светлыми и придают хорькам элегантный вид.</p>
            </div>
            <div class="col-md-6">
                <h3>Шоколадный, коричный и черный</h3>
                <p>Шоколадные и коричные хорьки имеют теплые оттенки коричневого, которые выглядят очень привлекательно. Черные хорьки, напротив, отличаются насыщенным темным цветом, который подчеркивает их энергию и характер.</p>
            </div>
        </div>
    </div>




{% endblock %}