{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    <title>Игры и активности хорьков</title>
{% endblock %}
{% block content %}


    <div class="jumbotron text-center bg-white">
        <h1 class="display-4">Игры и активности хорьков</h1>
        <p class="lead">Узнайте, как сделать времяпрепровождение вашего хорька увлекательным и полезным для его здоровья и развития.</p>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Активности и игры для хорьков</h2>
                <p>Хорьки - чрезвычайно активные и игривые животные, которые обожают исследовать окружающий мир. Очень важно обеспечить им достаточно возможностей для игр и активного времяпрепровождения, чтобы они оставались здоровыми и счастливыми. На изображении ниже представлены идеи для игр и занятий, которые помогут вашему хорьку быть в форме и развиваться.</p>
                <div class="text-center">
                    <img src="{% static 'main/img/img_7.png' %}" alt="Игры и активности для хорьков" class="img-fluid mt-4">
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h3>Тоннели и укрытия</h3>
                <p>Хорьки обожают тоннели и укрытия, в которых они могут прятаться и играть. Создание лабиринтов из труб или коробок - отличный способ увлечь вашего питомца и стимулировать его естественное поведение.</p>
            </div>
            <div class="col-md-6">
                <h3>Игрушки и обучающие игры</h3>
                <p>Игрушки, такие как мячики, игрушечные мышки и обучающие игры, помогают хорькам развиваться как умственно, так и физически. Регулярные игры с хозяином укрепляют связь с питомцем и помогают ему оставаться активным.</p>
            </div>
        </div>
    </div>




{% endblock %}